{% extends 'encyclopedia/layout.html' %}

{% block title %}
Editor
{% endblock %}

{% block body %}
<h1>Create New Encyclopedia Page</h1>

<form method="post">
  {% csrf_token %}

  <div class="form-group">
    {{ newPageForm.title }}
  </div>

  {% if newPageForm.errors %}
  {% for field in newPageForm %}
  {% for error in field.errors %}

  <div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
  </div>

  {% endfor %}
  {% endfor %}
  {% endif %}

  <div class="form-group">
    {{ newPageForm.content }}
  </div>

  <input type="submit" name="Save" class="btn btn-primary" value="Save">

</form>

{% endblock %}